extends layout

block content
	ul.cbp_tmtimeline
		li
			time.cbp_tmtime(datetime="2013-04-10 18:30")
				span 4/10/13 
				span 18:30
			.cbp_tmicon(class="cbp_tmicon-phone")
			.cbp_tmlabel
				h2 Ricebean black-eyed pea
				p Winter purslane...
		li
			time.cbp_tmtime(datetime="2013-04-10 18:30")
				span 4/10/13 
				span 18:30
			.cbp_tmicon(class="cbp_tmicon-phone")
			.cbp_tmlabel
				h2 Ricebean black-eyed pea
				p Winter purslane...
		li
			time.cbp_tmtime(datetime="2013-04-10 18:30")
				span 4/10/13 
				span 18:30
			.cbp_tmicon(class="cbp_tmicon-phone")
			.cbp_tmlabel
				h2 Ricebean black-eyed pea
				p Winter purslane...