!!!
html
  head
    title= 'Keyboardsurfer'
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/css/all.min.css')
  body
    header
      .overlay
      .title
        a.logo(href="/")
          img(src="/img/me-small.jpg", alt="")

        .information
          | Christopher McKenzie
      .background
        img(src="/img/bg3.jpg", alt="")
    block content

    footer
      h5 A little about me
      p
        | My name is <span class="highlight">Christopher McKenzie</span>, I am a <span class="highlight">Web Application Developer</span> In Victorville, Ca; I am currently employed by Excelsior Charter Schools for which I develop proprietary management tools.
      .foot.left
        a(href="https://plus.google.com/112997148822003661332")
          button(class="google-plus")
            i(class="icon-google-plus")
        a(href="https://www.facebook.com/cmckenzie13")
          button(class="facebook")
            i(class="icon-facebook")
        a(href="https://twitter.com/kbsurfer")
          button(class="twitter")
            i(class="icon-twitter")
        a(href="https://github.com/ChrisMcKenzie")
          button(class="github")
            i(class="icon-github-alt")
      .foot.right
        a(href="http://digitalocean.com", class="hosting")
          img(src="/img/digitalocean-badge-gray.png")
        a(href="http://nodejs.org", class="node")
          img(src="/img/nodejs.png")

  script(type="text/javascript", src="/components/classie/classie.js")
  script(type="text/javascript", src="/js/app.min.js")
